@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: Roboto;
	line-height: 1;
}
a {
	text-decoration: none;
	color: white;
	transition: .6s ease;
}
a:hover {
	color: var(--gold);
}
:root {
	--dark: #2F343A;
	--gold: #C8A35F;
}
html {
  scroll-behavior: smooth;
  
}


.container {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	max-width: 1140px;
	height: 100%;
	margin: 0 auto;
	padding: 0 15px;
	flex: 1 1;
	flex-wrap: wrap;
}
.header {
	width: 100%;
	color: white;
}
.header__top-line {
	background-color: var(--gold);
}
.header__first-line {
	background-color: var(--dark);
}
.top-line {
	display: flex;
	padding: 16px 0;
	font-size: 13px;
}
.first-line {
	display: flex;
	align-items: center;
	padding: 27px 0;
	color: white;
}
.first-line>.container {
	align-items: center;
}
.lang {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.lang__item:not(.lang__item_active) {
	opacity: 0.5;
}
.lang__item:hover:not(.lang__item_active) {
	cursor: pointer;
}
.lang__item_active {
	opacity: 1;
}
.left {
	display: flex;
	gap: 30px;
}
.first-line__main-menu {
	font-size: 14px;
}
.main-menu {
	display: flex;
	gap: 30px;
}
.logo {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}
.left__vertical-line {
	width: 1px;
	height: 46px;
	background-color: #F2F2F2;
}
.info {
	display: flex;
	align-items: center;
	gap: 10px;
}
.info__icon {
	width: 25px;
	height: 25px;
	background-image: url(images/placeholder.svg);
}

.footer {
	background-color: var(--gold);
	padding: 57px 0;
	font-size: 14px;
}

.right {
	padding: 0px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 1;
}
.contacts {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	color: white;

}
.contacts__email {
	color: var(--dark);
	font-size: 14px;
}
.phone-numbers {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.right>.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 1 0;
}
.footer__left {
	flex: 1 1;
}
.contacts__author {
	align-self: end;
	text-align: right;
	color: var(--dark);
	text-decoration: underline;
}

.first-screen {
	min-height: max(calc(100vh - 145px), 620px);
	background: linear-gradient(0deg, rgba(47, 52, 58, 0.75) 0%, rgba(47, 52, 58, 0.75) 100%), url(images/mainscreen.jpg);
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
  	display: flex;
  	flex-direction: column;
}
.first-screen>.container {
	position: relative;
	min-height: 100%;

}
.mouse {
	position: absolute;
	left: calc(50% - 15px);
	bottom: 50px;
	cursor: pointer;	
}
.first-screen__content {
	align-self: center;
	max-width: 920px;
	margin: 100px auto;
	border: 1px solid var(--gold);
	text-align: center;
}
.content {
	display: flex;
	padding: 45px;
	flex-direction: column;
	gap: 45px;
	color: white;
}
.content__title {
	font-size: 64px;
	font-weight: 700;
	letter-spacing: 3.2px;
	text-transform: uppercase;
}
.content__text {
	font-size: 18px;
}

@media(max-width:1140px) {
	.content__title {
		font-size: calc(30px + 34*((100vw - 320px)/(1140 - 320)));
	}
}

@media(max-width:779px) {
	.first-line__left {
		padding-bottom: 15px;
	}
	.first-line__main-menu {
		width: 100%;
	}
	.main-menu {
		justify-content: space-around;
		gap: 10px;
		flex-wrap: wrap;
	}
}

@media(max-width: 468px) {
	.footer__right {
		margin-top: 15px;
	}
}

@media(max-width:362px) {
	.main-menu__item {
		font-size: 14px;
	}
	.first-line__left {
		gap: 10px;
	}
}


